* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}

.body__container {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  font-weight: 700;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:focus {
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #e1670e;
}

/* header */

.header {
  height: 100px;
  padding: 0 75px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__burger {
  width: 30px;
  height: 23px;
  background-image: url("img/header_burger.svg");
  display: none;
}

.header__logo {
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 224px;
  height: 72px;
}

.header__list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__item {
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__link {
  color: #333;
}

.header__link:hover {
  border-bottom: #ff9900 solid 2px;
}

.header__link:focus {
  outline: none;
  outline: #ff9900 solid 2px;
}

.header__link:active {
  color: #ff9900;
  border-bottom: #ff9900 solid 2px;
  outline: none;
}

.header__search {
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

/* main */

.main {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.banner {
  background-image: url(img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 620px;
  margin-bottom: 100px;
}

.banner__content {
  padding: 100px 80px;
}

.banner__title {
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
  max-width: 65%;
  min-width: 50%;
  margin-bottom: 24px;
}

.banner__text {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  width: 60%;
  margin-bottom: 90px;
}

.banner__btn {
  padding: 25px 37px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
}

.about {
  margin-bottom: 100px;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333;
}

.about__text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.about__container {
  display: flex;
}

.about__left {
  position: relative;
  background-image: url(img/about-left.jpg);
  background-position: center;
  background-size: cover;
  max-width: 868px;
  height: 622px;
  width: 100%;
  margin-right: 32px;
}

.about__left__content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 196px;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 50px;
}

.about__left__text {
  margin: 0;
  margin-right: 139px;
  max-width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.about__left__btn {
  margin: 0;
  padding: 0px 38px;
  background-color: transparent;
  color: #fff;
  border: #ff9900 solid 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  height: 58px;
}

.about__left__btn:hover {
  background-color: #ff9900;
  color: #fff;
  border: #ff9900 solid 3px;
}

.about__left__btn:focus {
  outline: none;
  background-color: #ff9900;
  color: #fff;
  border: #ff9900 solid 3px;
}

.about__left__btn:active {
  background-color: #e1670e;
  color: #fff;
  border: #e1670e solid 3px;
}

.about__left__content__data {
  display: none;
}

.about__left__text__data {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.about__left__btn__data {
  margin: 0;
  margin-bottom: 80px;
  padding: 12px 15px;
  background-color: transparent;
  color: #ff9900;
  border: #ff9900 solid 3px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  min-width: 162px;
}

.about__right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about__card__top {
  display: flex;
  max-width: 870px;
  height: 295px;
  border: #cacaca solid 1px;
  padding: 65px 60px;
  margin-bottom: 32px;
}

.about__card__bottom {
  display: flex;
  max-width: 870px;
  height: 295px;
  border: #cacaca solid 1px;
  padding: 65px 60px;
}

.about__right__content {
  display: flex;
  flex-direction: column;
}

.about__card__img {
  margin-right: 50px;
}

.about__right__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.about__right__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 450px;
}

.how {
  margin-bottom: 100px;
}

.how__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333;
}

.how__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.how__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  text-decoration: none;
  margin-right: 85px;
}

.how__item:hover {
  color: #ff9900;
}

.how__item:focus {
  color: #333;
  outline: none;
  outline: #ff9900 solid 2px;
}

.how__item:active {
  outline: none;
  color: #e1670e;
}

.how__container {
  display: flex;
  justify-content: space-between;
}
.how__content {
  margin-right: 142px;
  max-width: 60%;
}

.how__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.how__text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.how__img {
  max-width: 870px;
  width: 60%;
  height: 460px;
}

.how__btn {
  padding: 20px 38px;
  margin-right: 32px;
}

.how__btn__unactive {
  padding: 20px 38px;
  background-color: transparent;
  border: 1px solid #333333;
}

.how__btn__unactive:hover {
  background-color: #666666;
  color: #fff;
}

.how__btn__unactive:focus {
  outline: none;
  background-color: #666666;
  color: #fff;
}

.how__btn__unactive:active {
  background-color: #000000;
  color: #fff;
}

.qestion {
  margin-bottom: 100px;
}

.qestion__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333;
}

.qestion__faq {
  max-width: 1770px;
}

.qestion__faq__item {
  border-top: #cacaca solid 1px;
  border-bottom: #cacaca solid 1px;
}

.qestion__faq__item:hover {
  border-top: #ff9900 solid 1px;
  border-bottom: #ff9900 solid 1px;
}

.qestion__faq__item:hover .qestion__faq__title {
  color: #ff9900;
}

.qestion__faq__item:hover ellipse {
  fill: #ff9900;
}

.qestion__faq__item:hover path {
  fill: #fff;
}

.qestion__faq__item:focus {
  border-top: #ff9900 solid 1px;
  border-bottom: #ff9900 solid 1px;
}

.qestion__faq__item:focus .qestion__faq__title {
  color: #ff9900;
}

.qestion__faq__item:focus ellipse {
  fill: #ff9900;
}

.qestion__faq__item:focus path {
  fill: #fff;
}

.qestion__faq__title__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.qestion__faq__title {
  display: block;
  padding: 40px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  cursor: pointer;
}

.qestion__faq__input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}
.qestion__faq__input:checked ~ .qestion__faq__text {
  /* display: block; */
  max-height: 500px;
  /* padding: 20px; */
  padding-bottom: 30px;
}

.qestion__faq__input:checked ~ .qestion__faq__img {
  transform: rotate(90deg);
}

.qestion__faq__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: max-height 0.3s, padding 0.3s;
  max-height: 0;
  overflow: hidden;
}

.qestion__faq__img {
  transition: transform 0.3s;
  min-width: 50px;
}

.qestion__faq__input:checked ~ .qestion__faq__title__img .qestion__faq__img {
  transform: rotate(45deg);
}

.footer {
  display: flex;
  max-width: 100%;
  height: 594px;
  padding: 50px 74px;
  background-color: #222;
  justify-content: space-between;
}

.footer__left__column {
  max-width: 251px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__list {
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
}

.footer__item:hover {
  color: #ff9900;
}

.footer__item:focus {
  color: #cacaca;
  outline: none;
  outline: #ff9900 solid 2px;
}

.footer__item:active {
  color: #e1670e;
  outline: none;
}

.footer__icon:not(:last-child) {
  margin: 0;
  margin-right: 25px;
}

.footer__icon:hover svg path {
  fill: #ff9900;
}

.footer__icon:focus {
  outline: none;
  outline: #ff9900 solid 5px;
}

.footer__icon:active svg path {
  outline: none;
  fill: #e1670e;
}

.footer__center__column {
  width: 570px;
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
}

.footer__form {
  display: flex;
  flex-direction: column;
  max-width: 570px;
}

.footer__form__name {
  height: 60px;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  background-color: #414141;
  border: none;
  margin-bottom: 25px;
}

.footer__form__name:hover {
  background-color: #666666;
}

.footer__form__name:focus {
  outline: none;
  background-color: #666666;
}

.footer__form__name:active {
  outline: none;
  background-color: #666666;
}

.footer__form__message {
  height: 150px;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  background-color: #414141;
  border: none;
  margin-bottom: 32px;
}

.footer__form__message:hover {
  background-color: #666666;
}

.footer__form__message:focus {
  outline: none;
  background-color: #666666;
}

.footer__form__message:active {
  outline: none;
  background-color: #666666;
}

.footer__button {
  padding: 19px 50px;
  margin-right: 22px;
}

.footer__chek {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.footer__chekbox {
  margin-bottom: 16px;
}

.footer__button__check {
  flex-direction: row;
}

.footer__right__column {
  max-width: 363px;
  display: flex;
  align-items: center;
}

.footer__line__data {
  border: none;
  background-color: #595959;
  color: #595959;
  height: 1px;
  margin-bottom: 16px;
  display: none;
}

.footer__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}
